#header{
    height: 7em;
    background-color: lightblue;

}
#heading{
    text-align: center;
}

#login-box{
    
    height: 25rem;
    width: 50rem;
    background-color: black;
    border: 10px solid red;
    margin-right: 220px ;
}